Flask==0.10.1
future==0.16.0
google-api-python-client==1.6.2
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
oauth2client==4.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
requests==2.13.0
rsa==3.4.2
selenium==3.3.0
six==1.10.0
uritemplate==3.0.0
urllib3==1.20
Werkzeug==0.11.15

